
      table, tr, td, th {
        border: 1px solid black;
        border-collapse: collapse;
        padding:10px;
      }
      th {
        color:white;
        background-color:grey;
        border: 1px solid white;
      }
  